{% block header %}
    <h1>{% block title %}商品分析{% endblock %}</h1>
    {% if not g.user %}
        <a></a>
        <a class="action" href="{{ url_for('user.register') }}">Register</a>
        <a href="{{ url_for('user.login') }}">Login</a>
    {% endif %}

    {% if g.user %}
        <p>歡迎{{g.user['UserName']}} Permission: {{ g.user['PermissionName'] }}</p>
        {% if g.user['PermissionID'] == 2%}
            <a class="action" href="{{ url_for('goods.addNewGoods') }}">New Goods</a>
            <a class="action" href="{{ url_for('coupon.couponList') }}">Coupon List</a>
        {% endif %}
        <a href="{{ url_for('user.logout') }}">Log Out</a>

        {% if g.user['PermissionID'] == 1%}
            <a href="{{ url_for('user.userList') }}">帳號名單</a>
            <a class="action" href="{{ url_for('goods.addNewGoods') }}">New Goods</a>
            <a class="action" href="{{ url_for('coupon.couponList') }}">Coupon List</a>
            <a class="action">Statistics</a>
        {% endif %}
        
        {% if g.user['PermissionID'] == 3%}
            <a href="{{ url_for('user.shoppingcart') }}">購物車</a>
            <a href="{{ url_for('user.buyHistory') }}">購買紀錄</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>商品名稱: {{ goods_name }}</h1>
    {% for order in list %}
        <article class="post">
            <div class="about">買家: {{ order['UserName']}} </div>
            <p>總共賣出數量: {{ order['Amount'] }}</p>
            <p>小計:{{ order['Earn'] }} 元</p>
            <a href="">明細</a>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}