{% block header %}
    <h1>{% block title %}商品s{% endblock %}</h1>
    {% if not g.user %}
        <a></a>
        <a class="action" href="{{ url_for('user.register') }}">Register</a>
        <a href="{{ url_for('user.login') }}">Login</a>
    {% endif %}

    {% if g.user %}
        <p>歡迎{{g.user['UserName']}} PermissionID: {{g.user['PermissionID']}}</p>
        {% if g.user['PermissionID'] == 2%}
            <a class="action" href="{{ url_for('goods.addNewGoods') }}">New</a>
        {% endif %}
        <a href="{{ url_for('user.logout') }}">Log Out</a>
    {% endif %}

    {% if g.user['PermissionID'] == 1%}
        <a href="{{ url_for('user.userList') }}">帳號名單</a>
    {% endif %}
    
    {% if g.user['PermissionID'] == 3%}
        <a href="{{ url_for('user.shoppingcart') }}">購物車</a>
        <a href="{{ url_for('user.buyHistory') }}">購買紀錄</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['GoodsName'] }}</h1>
                </div>
            </header>
            {% if g.user['PermissionID'] == 2%}
                <a class="action" href="{{ url_for('goods.updateGoods', id=post['GoodsID']) }}">Edit</a>
            {% endif %}
            {% if g.user['PermissionID'] == 3%}
                <a class="action" href="{{ url_for('goods.viewGoods', GoodsID=post['GoodsID']) }}">View</a>
            {% endif %}
            <div class="about">{{ post['Introduction'] }} price: {{ post['Price']}}元</div>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}