<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>台北科技茗茶</title>

    <link rel="Shortcut Icon" type="image/x-icon" href="image/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header class="container-fluid d-inline-flex justify-content-between navbar-fixed-top">
        <div class="LOGO align-self-center">
            <a href="index.html">台北科技茗茶<br>TaipeiTech Tea Shop</a>
        </div>
        <div class="container-fluid hnav d-inline-flex justify-content-end">
            <a class="nav-item" href="news.html">最新消息</a>
            <a class="nav-item" href="introduction.html">茗茶介紹</a>
            <a class="nav-item" href="purchase.html">購買茗茶</a>
            <a class="nav-item" href="contact.html">聯絡我們</a>
            <a class="nav-item" href="logIn.html"><img src="./image/user.png" alt="user"></a>
            </div>
        </div>
    </header>
    <!-- 首頁大圖 -->
    <div class="row align-items-center header-background">
        <div class="col-6"></div>
        <p class="col-6 header-p">品茶冷眼破紅塵<br><br>借茶靜心度光陰</p>
    </div>
    <!-- 茗茶緣起 -->
    <div class="d-flex flex-column justify-content-start origin-background">
        <p class="text-p-title">台北科技茗茶 - 緣起</p>
        <div class="container-fluid d-inline-flex justify-content-center">
            <img class="origin-img col-6" src="./image/origin.jpg" alt="teapot">
            <p class="text-p col-6">	
                「台北科技茗茶」以創新的經營理念，融合了「東方品茗文化」與「西方時尚品味」，展現精緻的新茶風尚。百年文化的豐富底藴，在精緻而明亮有趣的「親茶空間」裡，體驗茶文化與人文藝術的交揉。在這個專屬於愛茶人的空間裡，特別使用透明的茶葉展示罐，配合圖片介紹，可以自由玩味或由專業人員服務，挑選適合您品味的茶。<br><br>
                新穎時尚的茶罐包裝，顛覆一般大眾對傳統茶的印象，以優雅繽紛的設計感，展現精緻生活的獨特品味。倡導「隨時隨地、輕鬆自在享受一杯好茶」，將原本複雜的品茗程序，化繁為簡，在春夏秋冬各個節氣時令裡，販售的不只是專業傳承的品質，更要讓精緻新茶文化，深入都會人生活，讓幸福的每一天從〞茶 〞開始！
            </p>
        </div>
    </div>
    <footer class="d-flex">
        <div class="container-fluid footer-text-container">
            <p class="footer-text">
                台北科技茗茶 02-6874193 <br>
                台北市大安區忠孝東路三段1號<br>
                Copyright © 2001-2018 TaipeiTech
            </p>
        </div>
        <div class="container-fluid d-flex flex-column justify-content-around">
            <div class="footer-a-container d-flex justify-content-end">
                <a href="index.html">首頁</a>
                <a href="news.html">最新消息</a>
                <a href="introduction.html">茗茶介紹</a>
                <a href="purchase.html">購買茗茶</a>
                <a href="contact.html">聯絡我們</a>
            </div>
            <div class="d-flex justify-content-end software-logo">
                <a href="https://www.facebook.com/" target="_blank"><img src="./image/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/?hl=zh-tw" target="_blank"><img src="./image/instagram.png" alt="instagram"></a>
                <a href="https://twitter.com/?lang=zh-tw" target="_blank"><img src="./image/twitter.png" alt="twitter"></a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>