<!doctype html>
<title>北科茗茶 - 購買</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">

<h1>購買購物車中的商品</h1>

<form method="post">
    {% for goods in shoppingCart %}
        <p>商品名稱： {{ goods['goodsName'] }}</p>
        <p>商品單價： {{ goods['Price'] }}</p>
        <p>商品庫存： {{ goods['StockQuantity'] }}</p>
        <p>商品圖片名稱： {{ goods['ImageName'] }}</p>
        <p>購買數量：{{ goods['Amount'] }}</p>
        <p>花費： {{ goods['totalPrice'] }}</p>
    {% endfor %}
    <label for="address">address</label>
    <input name="addresss" id="addresss" required>
    <p></p>
    <label for="shippingMethod">運送方式：</label>
    <select name="shippingMethod" id="shippingMethod">
        <option value="1">便利商店</option>
        <option value="2">家</option>
    </select>
    <p></p>
    <label for="payment">付款方式：</label>
    <select name="payment" id="payment">
        <option value="1">現金</option>
        <option value="2">信用卡</option>
    </select>
    <p></p>
    <label for="discount">折扣券：</label>
    <input name="discount" id="discount" value="{{ request.form['discount'] }}" >
    <p></p>
    <p>總金額：{{ total }}</p>
    <input type="submit" value="確定購買">
</form>