{% block header %}
    <h1>{% block title %}商品s{% endblock %}</h1>
    {% if not g.user %}
        <a></a>
        <a class="action" href="{{ url_for('user.register') }}">Register</a>
        <a href="{{ url_for('user.login') }}">Login</a>
    {% endif %}

    {% if g.user %}
        <p>歡迎{{g.user['UserName']}} PermissionID: {{g.user['PermissionID']}}</p>
        {% if g.user['PermissionID'] == 2%}
            <a class="action" href="{{ url_for('goods.addNewGoods') }}">New</a>
        {% endif %}
        <a href="{{ url_for('user.logout') }}">Log Out</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for order in history %}
        <article class="post">
            <header>
                <div>
                    <h1>訂單編號： {{ order['OrderID'] }}</h1>
                    <p>購買時間：{{ order['Date'] }}</p>
                    <p>購買商品：{{ order['GoodsName'] }}</p>
                    <p>商品介紹: {{ order['Introduction'] }}</p>
                    <p>單價: {{ order['Price'] }}</p>
                    <p>折扣: {{ order['DiscountPercentage'] }}</p>
                    <p>數量：{{ order['Amount'] }}</p>
                    <p>狀態: {{ order['StatusName'] }}</p>
                    <p>運送方式: {{ order['ShippingMethodName'] }}</p>
                    <p>地點: {{ order['Address'] }}</p>
                    <p>總金額: {{ order['TotalPrice'] }}</p>
                    <p></p>
                </div>
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    
{% endblock %}