{% block header %}
    <h1>{% block title %}商品s{% endblock %}</h1>
    {% if not g.user %}
        <a></a>
        <a class="action" href="{{ url_for('user.register') }}">Register</a>
        <a href="{{ url_for('user.login') }}">Login</a>
    {% endif %}

    {% if g.user %}
        <p>歡迎{{g.user['UserName']}} PermissionID: {{g.user['PermissionID']}}</p>
        {% if g.user['PermissionID'] == 2%}
            <a class="action" href="{{ url_for('goods.addNewGoods') }}">New</a>
        {% endif %}
        <a href="{{ url_for('user.logout') }}">Log Out</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for goods in shoppingcart %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ goods['GoodsName'] }}</h1>
                    <p>單價：{{ goods['Price'] }}</p>
                    <p>數量：{{ goods['Amount']}}</p>
                    <p>金額：{{ goods['totalPrice']}}</p>
                    <a class="action" href="{{ url_for('goods.delete_shoppingCart_goods', GoodsID=goods['GoodsID']) }}">刪除</a>
                </div>
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p>總金額：{{ total }}</p>
    <a class="action" href="{{ url_for('user.buyAllGoodsInShoppingCart') }}">購買購物車中的商品</a>
{% endblock %}