{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/purchase.css') }}">
{% endblock %}

{% block header %}
<header class="container-fluid d-inline-flex justify-content-between">
    <div class="LOGO align-self-center offset-1 col-2">
        <a href="{{ url_for('TTTS') }}">台北科技茗茶<br>TaipeiTech Tea Shop</a>
    </div>
    <div class="container-fluid d-inline-flex justify-content-end col-8">
        <a class="nav-item" href="">最新消息</a>
        <a class="nav-item" href="">茗茶介紹</a>
        <a class="nav-item" href="{{ url_for('goods.index') }}">購買茗茶</a>
        <a class="nav-item" href="">聯絡我們</a>
        {% if g.user %}
        <span class="align-self-center text-white user-font-size px-3 border-left">{{ g.user['username'] }}</span>
            {% if g.user['PermissionID'] == 1%}
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.userList') }}">帳戶名單</a>
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.statistics') }}">商品分析</a>
            <a class="btn btn-secondary align-self-center header-btn mx-1" href="{{ url_for('user.logout') }}">登出</a>
            {% elif g.user['PermissionID'] == 2%}
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.statistics') }}">商品分析</a>
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.orderList') }}">商品訂單</a>
            <a class="btn btn-secondary align-self-center header-btn mx-1" href="{{ url_for('user.logout') }}">登出</a>
            {% elif g.user['PermissionID'] == 3%}
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.shoppingcart') }}">購物車</a>
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.buyHistory') }}">購買紀錄</a>
            <a class="btn btn-secondary align-self-center header-btn mx-1" href="{{ url_for('user.logout') }}">登出</a>
            {% endif %}
        {% else %}
        <a class="nav-item" href="{{ url_for('user.login') }}"><img src="{{ url_for('static', filename='image/user.png') }}" alt="user"></a>
        {% endif %}
    </div>
    <div class="col-1"></div>
</header>
{% endblock %}

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% block content %}
<div class="container-fluid row my-2 col-10 offset-1 mb-5 mt-4">
    <div class="container-fluid my-2">
        <div class="container-fluid m-0 p-0 font-color-white row align-items-center justify-content-between">
            <p class="font-weight-bold mb-0 font-size-16 align-self-end">我的購物車 - My Shopping Cart</p>
        </div>
        <hr>
        {% for goods in shoppingcart %}
            <div class="container-fluid row col-12 mx-0">
                <div class="col-3 align-self-center">
                    <img class="product-img" src="{{ url_for('static', filename='image/product1.jpg') }}" alt="Card image cap">
                </div>
                <div class="card-body col-9 mx-auto d-flex flex-column justify-content-between">
                    <h5 class="card-title offset-1">{{ goods['GoodsName'] }}</h5>
                    <p class="about offset-1 pb-2">單價：{{ goods['Price'] }}</p>
                    <p class="about offset-1 pb-2">數量：{{ goods['Amount']}}</p>
                    <p class="about offset-1 pb-2">金額：{{ goods['total']}}</p>
                    <a class="action about offset-1 row" href="{{ url_for('goods.delete_shoppingCart_goods', GoodsID=goods['GoodsID']) }}">刪除</a>
                </div>
            </div>
            <hr>
        {% endfor %}
        
        </div>
        <p></p>
        <p>總金額：{{ total }}</p>
        <p></p>
        <a class="action" href="{{ url_for('user.buyAllGoodsInShoppingCart') }}">購買購物車中的商品</a>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="d-flex py-4">
    <div class="container-fluid footer-text-container offset-1">
        <p class="footer-text">
            台北科技茗茶 02-6874193 <br>
            台北市大安區忠孝東路三段1號<br>
            Copyright © 2001-2018 TaipeiTech
        </p>
    </div>
    <div class="container-fluid d-flex flex-column justify-content-around">
        <div class="footer-a-container d-flex justify-content-end">
            <a href="">首頁</a>
            <a href="">最新消息</a>
            <a href="">茗茶介紹</a>
            <a href="{{ url_for('goods.index') }}">購買茗茶</a>
            <a href="">聯絡我們</a>
        </div>
        <div class="d-flex justify-content-end software-logo">
            <a href="https://www.facebook.com/" target="_blank"><img src="{{ url_for('static', filename='image/facebook.png') }}" alt="facebook"></a>
            <a href="https://www.instagram.com/?hl=zh-tw" target="_blank"><img src="{{ url_for('static', filename='image/instagram.png') }}" alt="instagram"></a>
            <a href="https://twitter.com/?lang=zh-tw" target="_blank"><img src="{{ url_for('static', filename='image/twitter.png') }}" alt="twitter"></a>
        </div>
    </div>
</footer>
{% endblock %}
{% block scripts %}{% endblock %}