{% extends 'base.html' %}

{% block title %}帳戶名單{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}

{% block header %}
<header class="container-fluid d-inline-flex justify-content-between">
    <div class="LOGO align-self-center offset-1 col-2">
        <a href="">台北科技茗茶<br>TaipeiTech Tea Shop</a>
    </div>
    <div class="container-fluid d-inline-flex justify-content-end col-8">
        <a class="nav-item" href="">最新消息</a>
        <a class="nav-item" href="">茗茶介紹</a>
        <a class="nav-item" href="{{ url_for('goods.index') }}">購買茗茶</a>
        <a class="nav-item" href="">聯絡我們</a>
        {% if g.user %}
        <span class="align-self-center text-white user-font-size px-3 border-left">{{ g.user['username'] }}</span>
            {% if g.user['PermissionID'] == 1%}
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.userList') }}">帳戶名單</a>
            <a class="btn btn-secondary align-self-center header-btn mx-1" href="{{ url_for('user.logout') }}">登出</a>
            {% elif g.user['PermissionID'] == 2%}
            <a class="btn btn-secondary align-self-center header-btn mx-1" href="{{ url_for('user.logout') }}">登出</a>
            {% elif g.user['PermissionID'] == 3%}
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.shoppingcart') }}">購物車</a>
            <a class="btn btn-info align-self-center header-btn mx-1" href="{{ url_for('user.buyHistory') }}">購買紀錄</a>
            <a class="btn btn-secondary align-self-center header-btn mx-1" href="{{ url_for('user.logout') }}">登出</a>
            {% endif %}
        {% else %}
        <a class="nav-item" href="{{ url_for('user.login') }}"><img src="{{ url_for('static', filename='image/user.png') }}" alt="user"></a>
        {% endif %}
    </div>
    <div class="col-1"></div>
</header>
{% endblock %}

{% block content %}
<div class="container-fluid col-10 offset-1 my-5">
        <div class="container-fluid m-0 p-0 font-color-white row align-items-center">
            <p class="font-weight-bold mb-0 align-self-end font-size-16 col-4 p-0">帳戶名單 - All Accounts</p>
            <span class="text-center text-danger font-weight-bold border border-danger px-4 py-2 col-4">此處為帳戶管理介面，所有的操作請謹慎處理！</span>
            <form method="post" class="form-inline my-2 my-lg-0 col-4 justify-content-end p-0" action="{{ url_for('user.searchUser') }}">
                <input class="form-control mr-sm-2" type="search" placeholder="搜尋使用者" aria-label="Search" name="searchName" id="searchName" required>
                <button class="btn search-btn my-2 my-sm-0" type="submit">搜尋</button>
            </form>
            <a href="{{ url_for('user.searchUser') }}">Search UserName</a>
        </div>
        <hr>
    <table class="table table-striped border border-secondary">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">使用者名稱</th>
                <th scope="col">性別</th>
                <th scope="col">手機</th>
                <th scope="col">Email</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        
        {% for user in user %}
            <tbody class="post">
                <tr class="text-center">
                    <th scope="row" class="align-middle">-</th>
                    <td class="align-middle">{{ user['UserName'] }}</td>
                    <td class="align-middle">{{ user['Gender'] }}</td>
                    <td class="align-middle">{{ user['CellphoneNumber']}}</td>
                    <td class="align-middle">{{ user['Email'] }}</td>
                    {% if g.user['PermissionID'] == 1%}
                        <td><a class="btn btn-secondary px-3" href="{{ url_for('user.edit', user_id=user['AccountID']) }}" role="button">編輯/修改</a></td>
                    {% else %}
                        <td><a class="btn btn-secondary px-3" href="#" role="button" disabled>編輯/修改</a></td>
                    {% endif %}
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block footer %}
<footer class="d-flex py-4">
    <div class="container-fluid footer-text-container offset-1">
        <p class="footer-text">
            台北科技茗茶 02-6874193 <br>
            台北市大安區忠孝東路三段1號<br>
            Copyright © 2001-2018 TaipeiTech
        </p>
    </div>
    <div class="container-fluid d-flex flex-column justify-content-around">
        <div class="footer-a-container d-flex justify-content-end">
            <a href="">首頁</a>
            <a href="">最新消息</a>
            <a href="">茗茶介紹</a>
            <a href="{{ url_for('goods.index') }}">購買茗茶</a>
            <a href="">聯絡我們</a>
        </div>
        <div class="d-flex justify-content-end software-logo">
            <a href="https://www.facebook.com/" target="_blank"><img src="{{ url_for('static', filename='image/facebook.png') }}" alt="facebook"></a>
            <a href="https://www.instagram.com/?hl=zh-tw" target="_blank"><img src="{{ url_for('static', filename='image/instagram.png') }}" alt="instagram"></a>
            <a href="https://twitter.com/?lang=zh-tw" target="_blank"><img src="{{ url_for('static', filename='image/twitter.png') }}" alt="twitter"></a>
        </div>
    </div>
    <div class="offset-1"></div>
</footer>
{% endblock %}
{% block scripts %}{% endblock %}